body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    
    font-family: 'Raleway', sans-serif;
}
.label{
    background-color: greenyellow;
}

/*Nav ---- */
.navbar-brand{
    color: orange !important;
    font-size: 26px;
}

/* Footer ------ */
footer{
    background: #222;
    text-align: center;
}
footer p{
    text-align: justify;
    color: white;
}
h3{
    color: red;
}
 ul.redes li{
     display: inline-block;
 }
 ul.redes li a{
     color: orange;
 }
 .avatar{
     border: 5px solid orange;
     border-radius: 50%;
     float: left;
     height: 100px;
     width: 100px;
 }

 /*Detalle del producto ------ */
 .product-block{
     background: #fff;
     border-radius: 1em;
     padding: 1em;
 }
 a{display: inline-block;}